{% extends parent_template|default:"product/base_product.html" %}

{% block title %}
{{ block.super }} - Delete a linked article
{% endblock title %}

{% block content %}
<div>
    <div>
        <form action="{% link.get_delete_url %}" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete the link "{{ link.name }} from the catalogue?"</p>
            <a href="{{ link.get_absolute_url }}">Cancel</a>
            <button type="submit">Delete this Product!</button>
        </form>
    </div>
</div>
{% endblock content %}