{% extends parent_template|default:"product/base_product.html" %}

{ % block title % }
{{ block.super }} - {{ product.name|title }}
{ % endblock title % }

{% block content %}
<article>

    <h2>{{ product.name }}</h2>
    <ul>
        <li>
            <a href=" {{ product.get_update_url }} ">
                Edit Product</a></li>
    </ul>
    <dl>
        <dt>Product Name</dt>
        <dd>{{ product.name }}</dd>
        <dt>Product Categor{{ product.tags.count|pluralize:"y,ies"}}</dt>
        <dd>{{ product.description }}</dd>
        <dt>Available in store since</dt>
        <dd>{{ product.added_to_catalogue|date:"N j, Y" }}</dd>
        <dt>Tag{{ product.tags.count|pluralize}}</dt>
        {% for tag in product.tags.all %}
        <dd><a href="#">{{ tag.name|title }}</a></dd>
        {% endfor %}
    </dl>

    {{ product.description|linebreaks }}

    {% if product.link_set.all %}
    <section>
        <h3>More on this product</h3>
        <p>
            <a href="{% url 'product_link_create' %}">
                Add a new link for the product</a>
        </p>
        <ul>
            {% for link in product.link_set.all %}
            <li><a href="{{ link.link }}">{{ link.title|title }}</a></li>
            <ul>
                <li>
                    <a href="{{ link.get_update_url }}">
                        Edit Link</a>
                </li>
                <li>
                    <a href="{{ link.get_delete_url }}">
                        Delete Link</a>
                </li>
            </ul>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if product.post_set.all %}
    <section>
        <h3>Blog Post{{ product.post_set.all|pluralize }}</h3>
        <ul>
            {% for post in product.post_set.all %}
            <li><a href="#">{{ post.title|title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
</article>
{% endblock content %}