{% extends parent_template|default:"product/base_product.html" %}

{ % block title % }
{{ block.super }} - Products
{ % endblock title % }

{% block create_button %}
<a
        href="{% url 'product_product_create' %}"
        class="button button-primary">
    Add a new Product</a>
{% endblock %}

{% block org_content %}
<h2>Product List</h2>
<div class="mobile">
    <a href=" { % url 'product_product_create' % } ">
        Add a new product in the catalogue</a>
</div>
<ul>
    {% for product in product_list %}
    <li>
        <a href="{{ product.get_absolute_url }}">{{ product.name }} </a>
    </li>
    {% empty %}
    <li><em>No products available</em></li>
    {% endfor %}
</ul>
{% endblock org_content %}

{% block content_footer %}
{% if is_paginated %}
<ul>
    {% if previous_page_url %}
    <li>
        <a href="{{ previous_page_url }}">
            Previous</a>
    </li>
    {% endif %}
    <li>
        Page {{ startup_list.number }}
        of {{ paginator.num_pages }}
    </li>
    {% if next_page_url %}
    <li>
        <a href="{{ next_page_url }}">
            Next</a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock content_footer %}