{% extends parent_template|default:"product/base_product.html" %}

{ % block title % }
{{ block.super }} - {{ tag.name|title }}
{ % endblock title % }

{% block content %}
<h2>{{ tag.name|title }}</h2>
{% if tag.startup_set.all %}
<section>
    <h3>Product{{ tag.product_set.count|pluralize }}</h3>
    <p>
        This Tag is associated with {{ tag.product_set.count }}
        product{{ tag.product_set.count|pluralize }}
    </p>
    <ul>
        {% for product in tag.product_set.all %}
        <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% if tag.post_set.all %}
<section>
    <h3>Blog Post{{ tag.post_set.count|pluralize }}</h3>
    <ul>
        {% for post in tag.post_set.all %}
        <li><a href="{{ post.get_absolute_url }}"></a>{{ post.title|title }}</li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% if not tag.product_set.all and not tag.post_set.all %}
<p>It looks like this tag is not associated to any product in our catalogue.</p>
{% endif %}

{% endblock content %}